@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #e04f6e;
    --branco: #eea8bd;
    --laranja: #d45950;
    --azul-degrade: linear-gradient(97.54deg, #5e356b 35.49%, #840cd4 165.37%);
    --fonte-principal: "Poppins";
    --azul: #4f7592;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}